# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np.메서드()
* np.속성

In [8]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [9]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

# 2.변수와 참조

In [12]:
a = [1, 2, 3] #참조

In [13]:
b = a #변수 a와 brk 동일 객체[1,2,3]
b

[1, 2, 3]

In [14]:
a.append(4)
b

[1, 2, 3, 4]

# 3.사용자 정의 함수 & 호출

In [15]:
def append_element(some_list, element):
    some_list.append(element)

In [16]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

# 4.내장형 함수:type()

In [20]:
a = 5 #int
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

# 5. 형변환
* int()
* float()
* bool()

In [22]:
"5" + 5 #자동형변환 불가능

TypeError: can only concatenate str (not "int") to str

In [23]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

# 6. 내장 함수 : isinstance()

In [24]:
a = 5
isinstance(a, int)

True

In [25]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

# 7. 내장함수 : iter()
* str
* list
* tuple

In [26]:
def isiterable(obj):
    try:
        iter(obj) # iter 호출
        return True
    except TypeError: # not iterable
        return False

In [27]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [28]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. key word : is, is not
* is : 두 개의 객체가 동일 여부 확인
* is not : 두 개의 객체 가 상이한지 여부

In [29]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [30]:
a == c

True

# 9. None 객체
* 파이썬 결측값 null

In [31]:
a = None
a is None

True

# 10. list 자료형
* iterable 객체
* vr = []
* vr = list()
* mutable 객체
    * 수정, 삭제, 추가
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명  [start:end:step]
    * 메서드
        * 변수명.count()
    * 연산자 : +,*

In [32]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [33]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* iterable 객체
* vr = " "
* vr = str()
* immutable 객체
    * 조회 : 인덱싱
        * 변수명[정수]
    * 추출 : 슬라이싱
        * 변수명[start:end:step]
* 메서드:
    * str.count()
    * str.replace()
* 연산자 : +, *

In [34]:
c = """
This is a longer string that
spans multiple lines
"""

In [35]:
c.count("\n")

3

In [37]:
a = "this is a string"
a[10]
a[10] = "f"#수정

TypeError: 'str' object does not support item assignment

In [38]:
b = a.replace("string", "longer string") # 수정 -> 새로운 문자열
b
a

'this is a string'

In [39]:
a = 5.6
s = str(a)
print(s)

5.6

In [40]:
s = "python"
list(s)
s[:3]

'pyt'

In [41]:
s = "12\\34"
print(s)

12\34

# <문자열 포맷 방법>

In [44]:
template = "{0:.2f} {1:s} are worth US${2:d}"  # method1
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [45]:
amount = 10  #method2
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

# 13. 문자열 인코딩 & 디코딩
* str.encoding()
* bytes.decoding()

In [46]:
val = "español"
val

'español'

In [47]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

bytes

In [48]:
val_utf8.decode("utf-8")

'español'

In [ ]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [49]:
True and True
False or True

True

In [50]:
int(False)
int(True)

1

In [51]:
a = True
b = False
not a
not b

True

In [52]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [53]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [54]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [55]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [56]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [57]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [58]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [59]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [60]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [61]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator
* range()
* enmurate()
* zip()
* map()

In [62]:
range(10) # generator 객체
list(range(10)) # 데이터 접근 1
for i in range(10): # 데이터 접근 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [63]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [64]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [65]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668